%p#notice= notice

%p
  %h1= @user_story.name
%p
  %b Descp:
  = @user_story.descp
%p
  %b State:
  = @user_story.state
= link_to 'add File', new_user_story_user_story_file_path(@user_story)	
|
= link_to 'add Task', 'tasks/'+@user_story.id.to_s
|
= link_to 'Edit', edit_user_story_path(@user_story)
\|
= link_to 'Back', user_stories_path

%h5 Tasks for this User story:
- @user_story.tasks.each do |task|
  = form_for(task, remote: true) do |f|
    #{task.name}: #{f.check_box :state , class: 'state'}