%center
  .well.halfPageWidth
    = form_for @task, html: { class: "form form-horizontal project" } do |f|
      - if @task.errors.any?
        #error_explanation
          %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
          %ul
            - @task.errors.full_messages.each do |msg|
              %li= msg
      = f.hidden_field :user_story_id, value: @task.id
      .field
        = f.text_field :name, class: 'form-control formElement', required: true, placeholder: 'Task Name'
      .field
        = f.text_area :description, class: 'form-control formElement', required: true, placeholder: 'Task Description'
      .field
        = f.check_box :state, class: 'form-control formElement', required: true, placeholder: 'Task State'
      .actions
        = f.submit nil,class: 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), projects_path, :class => 'btn btn-default'