%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b State:
  = @task.state
%p
  %b User stories:
  = @task.user_story_id

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
