.well
  = form_for @project, html: { class: "form form-horizontal project" } do |f|
    .form-group
      %center
        .controls
          = f.text_field :name, class: 'form-control formElement', required: true, placeholder: 'Project name'
      = error_span(@project[:name])
    .form-group
      %center
        .controls
          = f.text_area :description, class: 'form-control formElement', required: true, placeholder: 'Project Description'
      = error_span(@project[:description])
    .form-group
      %center
        

    %center
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), projects_path, :class => 'btn btn-default'

