%p#notice= notice

%p
	%b Name:
	= @project.name
%p
	%b Description:
	= @project.description

= link_to 'add User Story', 'user_stories/new/'+@project.id.to_s
|
= link_to 'Edit', edit_project_path(@project)
|
\#{link_to 'Back', projects_path}

%br


=button_to "Add", project_path, method: :get  

%br
%br

%h5 That is each project User stories:
%ul
	-@project.user_stories.each do |story|
		%li
			= form_for(story, remote: true) do |f|
				= story.name
				|
				= link_to 'show','user_stories/show/'+story.id.to_s
				|
				%span.user_story_state 
					= f.select :state, UserStory.states.keys.map{ |state| [state.titleize,state] }







