= form_for @project_user, :url => project_users_path, :html => { :multipart => true } do |f|
  - if @project_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project_user.errors.count, "error")} prohibited this project_user from being saved:"
      %ul
        - @project_user.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.file_field :avatar
    = f.submit 'Save'
